.textHolder {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.inputHolder {
    display: flex;
    justify-content: flex-end;
    height: auto;
    box-shadow: 2px 2px 20px rgb(255 255 255 / 10%);
    padding: 10px;
    margin:2rem;
  }
  .inputHolder  input{
    width: 250px;
    height:32px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 5px;
    outline: none;
  }
  .inputHolder  button{
    box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
    background: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  .inputHolder:hover  button{
    background:#305563;
    transition: all 0.3s ease-in;
    
  }
  .d-flex {
    display: flex;
  }
  .justify-content-around{
    justify-content: space-around;
  }