body{
  background: linear-gradient(#283048,#859398);
}
.App {
  width:100%;
  height: 100vh;
  display: block;
  text-align: center;
}
button {
  outline: none;
}
h2{
  color:rgba(44, 116, 184, 0.788);
  font-size: 2rem;
}

.d-flex {
  display: flex;
}
.justify-content-around{
  justify-content: space-around;
}
h1{
  display: inline-block;
  color:rgba(44, 116, 184, 0.788);
  background: #363e4d;
  font-size: 2.5em;
  padding: 1rem;
}
.br-2 {
  border:2px solid red;
  color: #fff;
}
.inputHolder {
  display: flex;
  justify-content: flex-end;
  height: auto;
  background: linear-gradient( rgb(216, 100, 206) , rgb(49, 48, 104));
  padding: 10px;
  margin: 0 1rem;
}
.inputHolder  input{
  width: 250px;
  height:15px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 5px;
}
.inputHolder  button{
  background:#638491;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.inputHolder:hover  button{
  background:#305563;
  transition: all 0.3s ease-in;
  
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:auto;
  margin:1rem auto;
  height: auto;
  background: #283048;
  color: #fff;
  font-size: 20px;
  padding: 1rem;
}
.menu p ,h2{
 margin: 0;
}
.btn-product {
  margin-left: 25px;
  background: #283048;
  color: #fff;
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: 0px 5px 12px #00000080;
}
.product{
  padding-block-end: 1rem;
}
.textHolder {
  justify-content: space-around;
}